.line {
    border-top: 3px double #464646;
    width: 80vw;
    margin: 0 0 40px 10%;
}

.title {
    color: #464646;
    font-size: 30px;
    letter-spacing: 6px;
    margin: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
}

.center {
    margin: 0 0 40px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.seemore {
    background: rgba(70, 70, 70, .9);
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

.seemore:hover {
    background-color: rgba(70, 70, 70, .6);
    cursor: pointer;
}

    /*HOME*/

.home__section {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 0 40px 0;
 }

.home__section-video {
    align-self: center;
}

@media only screen and (max-width: 712px){
    .home__section-video {
        width: 500px;
        height: 300px;
    }
}

@media only screen and (max-width: 520px) {
    .home__section-video {
        width: 370px;
        height: 300px;
    }
}

    /*LIVE*/

.home__table {
    margin: 0 0 40px 0;
}

    /*PHOTOS*/
.home__gallery {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    grid-gap: 30px;
    margin: 0 0 40px 0;
}

.home__gallery-container {
    width: 250px;
    height: 250px;
}

.home__gallery-photos {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 888px) {
    .home__gallery {
        grid-template-columns: repeat(2, 250px);
    }
}

@media only screen and (max-width: 576px) {
    .home__gallery {
        grid-template-columns: repeat(2, 180px);
        grid-gap: 5px;
    }

    .home__gallery-container {
        width: 180px;
        height: 180px;
    }
}

    /*MERCH*/
.merch__container--home {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
    grid-gap: 30px;
}

.merch__media--home {
    margin: 0;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.merch__discription--home {
    margin: 0;
    background-color: rgba(255, 255, 255, .9);
    color: #000;
    width: 400px;
    height: 125px;
    padding: 1em;
    box-sizing: border-box;
    transition: transform .35s;

}

.merch__media--home:hover .merch__discription--home {
    transform: translateY(-125px);
}

@media only screen and (max-width: 940px) {
    .merch__container--home {
        grid-template-columns: repeat(2, 300px);
    }

    .merch__media--home {
        width: 300px;
        height: 300px;
    }

    .merch__discription--home {
        width: 300px;
    }
}

@media only screen and (max-width: 680px) {
    .merch__container--home {
        grid-template-columns: 300px;
    }
}